<div *ngIf="ad">
    <div class="container">

        <div class="col m-3">

            <div class="row picSlider">
                <ngb-carousel>
                    <ng-template *ngIf="ad.pictures[0] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[0]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                        </div>
                    </ng-template>
                    <ng-template *ngIf="ad.pictures[1] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[1]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>Second slide label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                        </div>
                    </ng-template>
                    <ng-template *ngIf="ad.pictures[2] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[2]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                        </div>
                    </ng-template>
                    <ng-template *ngIf="ad.pictures[3] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[3]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                        </div>
                    </ng-template>
                    <ng-template *ngIf="ad.pictures[4] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[4]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                        </div>
                    </ng-template>
                    <ng-template *ngIf="ad.pictures[5] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[5]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                        </div>
                    </ng-template>
                    <ng-template *ngIf="ad.pictures[6] != undefined || '' " ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="ad.pictures[6]" width="400" height="300">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="py-2">
                <h2>{{ad.brand}} {{ad.model}}</h2>
            </div>

            <div class="row pb-5">
                <table style="max-width: 500px;">
                    <tbody>
                        <tr>
                            <td>Manifacture Date</td>
                            <td><b>{{ad.manifactureDate | date:'MMMM y'}} г.</b></td>
                        </tr>
                        <tr>
                            <td>Engine Type</td>
                            <td><b>{{ad.engineType}}</b></td>
                        </tr>
                        
                        <tr>
                            <td>Transmission</td>
                            <td><b>{{ad.transmission}}</b></td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td><b>{{ad.category}}</b></td>
                        </tr>
                        <tr>
                            <td>Mileage</td>
                            <td><b>{{ad.mileage}} км.</b></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td><b>{{ad.color}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pb-5">
                <h6>Ad information:</h6>
                <hr>
                <div>
                    {{ad.moreInfo}}

                </div>
            </div>
            <div class="row pb-5">
                <h6>Contacts:</h6>
                <hr>
                
                <div>
                  email: <b>{{ad.userId.email}}</b>
                </div>
                <div>
                  telephone: <b>{{ad.userId.telephone}}</b> 
                </div>
            </div>
        </div>


        <div *ngIf="ad.userId.email == userEmail" class="row">
            <div>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteAd(ad._id)">Delete</button>

            </div>
            
        </div>

    </div>

    <div *ngIf="!ad">
        Loading ...
    </div>
</div>