<div class="container">

    <main>
        <div class="" *ngIf="myAds">
            <div *ngIf="myAds.length==0">
                <h3>Sorry! No cars were found with this search criteria!</h3>
            </div>
            <div *ngFor="let ad of myAds" class="theme-container">
                <div class="" [routerLink]="ad._id">


                    <tbody>
                        <tr>
                            <td style="width:220px;height:10px;"></td>
                            <td style="width:162px;height:10px;"></td>
                            <td style="width:135px;height:10px;"></td>
                            <td style="width:37px;height:10px;"></td>
                            <td style="width:106px;height:10px;"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width:220px;height:150px">
                                <table class="tablereset" style="width:212px">
                                    <tbody>
                                        <tr>
                                            <td class="algcent valgmid"><a class="photoLink"><img
                                                        src="{{ad.pictures[0]}}"
                                                        style="object-fit: cover;" width="200" height="150"
                                                        class="noborder"
                                                        alt="car image"
                                                        data-geo=""></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="valgtop" style="width:162px;height:40px;padding-left:4px">
                                <div>{{ad.model}} {{ad.brand}}</div>
                            </td>
                            <td class="algright valgtop" style="width:135px;height:40px;padding-left:4px">
                                <div><span class="price">{{ad.price}} {{ad.currency}}.</span></div>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" style="width:440px;height:50px;padding-left:4px">
                                manifacture date. - {{ad.manifactureDate | date:'MMMM y'}} г., mileage - {{ad.mileage}}
                                km, color - {{ad.color}}, {{ad.moreInfo | textShorten:60}}...<br><br>Region:
                                София, гр. София
                            </td>
                        </tr>

                        <tr>
                            <td colspan="5" style="height:10px;"></td>
                        </tr>
                    </tbody>
                   
                </div>
            </div>
        </div>
        <div *ngIf="!myAds">
        
            <div id="loader-wrapper">
                <div id="loader"></div>
            </div>
          </div>
          

    </main>


</div>