<div class="container">
    <h3>Latest ads</h3>
    <hr>

    <div class="card-deck row" *ngIf="recentAds">

        <div *ngFor="let ad of recentAds" class="col-md-4 mb-3">
            <div class="card" [routerLink]='ad._id'>
                <div class="row">
                    <div class="col">
                        <img class="card-img-top " src="{{ad.pictures[0]}}" height="150px" width="150px"
                            alt="Card image">

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">{{ad.model}} {{ad.brand}}</h5>
                            <h4>{{ad.price}} {{ad.currency}}</h4>
                            <p class="card-text">{{ad.mileage}} k km. </p>
                            <p class="card-text"><small class="text-muted">Last update {{ ad.updatedAt | date:
                                    'dd/MM/yyyy HH:mm'}}</small></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div *ngIf="!recentAds">
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>



</div>